# EN REQUIREMENTES.TXT (SOLO SE INCLUYE python-dotenv==1.0.1)
# O SOLO EJECUTAR DENTRO DEL DIRECTORIO pip install python-dotenv

Flask==2.0.3
Flask-SQLAlchemy==2.5.1
PyMySQL==1.0.2
SQLAlchemy==1.4.46
Werkzeug==2.0.3
python-dotenv==1.0.1

# LUEGO EJECUTAR pip install -r requirements.txt
